In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score
import numpy as np
import pandas as pd
import os
import re
import nltk

In [2]:
df = pd.read_excel('../../data/zhairusdata.xlsx')

In [3]:
def remov_punct(withpunct):
    punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
    without_punct = ""
    char = 'nan'
    for char in withpunct:
        if char not in punctuations:
            without_punct = without_punct + char
    return(without_punct)

In [4]:
list = []
for s in range(len(df)):
    list.append(remov_punct(df['text'][s]).lower()) 
df = pd.DataFrame({"text": list,
                      "sent": df['sent']})

In [5]:
df

                                                 text  sent
0   1nnевразийская группа erg направляет финансову...     1
1   1nnредакция tengrinewskz в рамках проекта тала...     1
2   все в мире покроется пылью забвеньяnnлишь двое...    -1
3   4nnдетский хор из алматы завоевал две золотые ...     1
4   9nn25летний житель алматинской области алмас р...     1
5   6nnтengrinewskz в рамках спецпроекта герои сре...     0
6   8nnкакой он  казахстан вашей мечты каким вы ви...     0
7   профессиональные спортсменылыжники могут разго...     0
8   eurasian resources group erg запустила собстве...     1
9   когда ждешь и любишь ребенка всем сердцем то х...     1
10  каждый из нас в какойто мере слеп порой мы не ...    -1
11  красивая музыка сногсшибательные наряды и зажи...    -1
12  чем хуже становится твоя жизнь тем больше ты д...     0
13  все больше соотечественников присоединяются к ...     1
14  15nnгерой сегодняшней истории в рамках проекта...     1
15  0nnевразийская группа erg первой из промышленн...     1
16  0nnграндиозный праздник проходит сегодня на гл...     1
17  47nnвоеннослужащий пограничной службы кнб спас...     1
18  2nnв трехуровневой защите тестовой базы для ед...     0
19  6nnдело вицеминистра образования и науки эльми...    -1
20  8nnпредседатель агентства по противодействию к...     1
21  7nnкак выпускники пытались обмануть проверяющи...    -1
22  8nnне проводить рейтинги школ по результатам е...     0
23  8nnминистерство образования и науки опубликова...     0
24  10nnв одной из столичных школ директор оборудо...    -1
25  11nn26летняя астанчанка айгерим кагарманова ос...     1
26  11nnвицеминистра образования и науки обвиняют ...    -1
27  11nnвицеминистр образования и науки эльмира су...    -1
28  8nnакимат алматы установил стоимость платы в д...     0
29  12nnминистр образования и науки куляш шамшидин...    -1
30  2nnв трехуровневой защите тестовой базы для ед...     0
31  6nnдело вицеминистра образования и науки эльми...    -1
32  8nnпредседатель агентства по противодействию к...     1
33  7nnкак выпускники пытались обмануть проверяющи...    -1
34  27nnпредседатель президиума ассоциации экологи...     1
35  3nnв управлении образования столицы опровергли...     0
36  17nnглава республиканского научнопрактического...     1
37  84nnв шымкенте в школе № 12 разгорелся скандал...    -1
38  0nnк длительному сроку лишения свободы пригово...    -1
39  2nnсотрудник таможни в восточноказахстанской о...    -1
40  12nnв туркестанской области вынесли приговор м...    -1
41  3nnпридерживающийся неонацистских взглядов дже...    -1
42  58nnв медеуском районном суде алматы в четверг...    -1
43  20nnв иране казнили сотрудника иранской оборон...    -1
44  80nnв уральском городском суде вынесен пригово...    -1
45  16nnв социальных сетях появилось видео в котор...    -1
46  9nnпресненский суд москвы начал оглашать приго...    -1
47  15nnжитель татарстана осужденный по делу о мош...    -1

In [43]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [44]:

from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()
cv.fit(df['text'])

X = cv.transform(df['text'])

In [45]:
y = df['sent']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [46]:
X_train_1, X_val, y_train_1, y_val = train_test_split(
    X_train, y_train, train_size = 0.7
)

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [47]:
for c in [0.01, 0.05, 0.25, 0.5, 1]:
    
    lr = LogisticRegression(C=c)
    lr.fit(X_train_1, y_train_1)
    print ("Accuracy for C=%s: %s" 
           % (c, accuracy_score(y_val, lr.predict(X_val))))

Accuracy for C=0.01: 0.4
Accuracy for C=0.05: 0.4
Accuracy for C=0.25: 0.5
Accuracy for C=0.5: 0.5
Accuracy for C=1: 0.5

In [56]:
final_model = LogisticRegression(C=0.5)
final_model.fit(X_train, y_train)
print ("Final Accuracy: %s" 
       % accuracy_score(y_test, final_model.predict(X_test)))

Final Accuracy: 0.6

In [68]:
test_df = pd.DataFrame()
test_df2 = pd.DataFrame()

In [69]:
test_df['predict'] = final_model.predict(X_test)

In [70]:
test_df2['real'] = y_test

In [71]:
test_df

    predict
0         1
1        -1
2         0
3        -1
4        -1
5        -1
6        -1
7         0
8        -1
9        -1
10        1
11        1
12        0
13       -1
14        0

In [72]:
test_df2

    real
22     0
31    -1
33    -1
41    -1
46    -1
26    -1
27    -1
3      1
45    -1
42    -1
0      1
34     1
21    -1
25     1
1      1